APP_ENV=development
APP_NAME=jejak
APP_PORT=3000
APP_URL=http://localhost:5173
PUBLIC_DIR=./public

AUTH_GATE_URL=
AUTH_GATE_ID=
AUTH_JWT_SECRET=secret

DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=jejak_db
DB_DRIVER=postgres

REDIS_HOST=localhost
REDIS_PORT=6379

FASIH_BASE_URL=https://fasih-sm.bps.go.id
FASIH_USER_AGENT=

